.catalog_category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 62px;
    padding: 0;
}

.item {
    height: 226px;
    width: 540px;
    border-radius: 18px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding: 36px;
}

.title {
    color: #708571;
    font-size: 36px;
    font-weight: 600;
}

.item:nth-child(6n + 2),
.item:nth-child(6n + 4) {
    width: 360px;
}
